@charset "utf-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");

/* 공통 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 15px/1.6 "돋움", sans-serif;
    background: #fff;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    vertical-align: top;
}

ul {
    list-style: none;
}


/* a영역: 헤더 */
header {
    position: relative;
    height: 100px;
    background: #f0f0f0;
}
header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 100px;
    background: lightcoral;
    position: relative;
}

/* LOGO */
.logo {
    width: 200px;
    height: 40px;
}

/* NAVIGATION */
.gnb {
    position: absolute;
    /* z-index: 1; */
    right: 0px;
    width: 640px;
    height: 30px;
    background: darkkaki;
    text-align: center;
}

/* 1depth Menu */
.gnb .main {
    display: flex;
}

/* 가상요소로 배경바 삽입 */
.gnb .main::before {
    content: "";
    background: yellow;
    position: absolute;
    right: 0px;
    top: 30px;
    z-index: -1;
    width: 1200px;
    height: 0px;
}

.gnb .main>li>a {
    display: block;
    width: 160px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    background: #999;
}

.gnb .main:hover::before {
    height: 150px;
}
.gnb .main:hover .sub {
    height: 150px;
}

/* 2nd depth: SUB menu */
.gnb .sub {
    height: 0;
    overflow: hidden;
    transition: .3s;
    /* background: rgba(157, 170, 188, 0.5); */
}

.gnb .sub::before {
    content: '';
    display: block;
    padding-top: 10px;
}

.gnb .sub>li>a {
    display: block;
    font-size: 14px;
}

.gnb .sub>li>a:hover {
    background: #474ead;
    color: #fff;
    text-decoration: underline;

}

/* b와 c영역 공통 */
.container {
    width: 1200px;
    margin: 0 auto;
}
