@charset "utf-8";

/* 공통 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 15px/1.6 "돋움", sans-serif;
    background: #fff;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    vertical-align: top;
}

/* a영역: 헤더 */
header {
    background: #e1f7f2;
}
header .inner {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    align-self: flex-end;
    width: 600px;
    height: 60px;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
}
/* nav li {
    display: flex;
    height: 60px;
    align-items: flex-end;
} */

nav a {
    font-size: 18px;
}

/* b와 c영역 공통 */
.container {
    width: 1200px;
    margin: 0 auto;
}

/* b영역: 슬라이드 */
.slide {
    height: 300px;
    overflow: hidden;
}

.slide ul {
    position: relative;
    height: 400%;
    animation: slide 8s infinite;
}

.slide li {
    height: 25%;
}

@keyframes slide {
    0% {top: 0%}
    10% {top: -100%}
    33% {top: -100%}
    43% {top: -200%}
    66% {top: -200%}
    76% {top: -300%}
    99.99% {top: -300%}
    100% {top: 0%}
}

/* c영역: 콘텐츠 */
.contents {
    height: 200px;
    display: flex;
    padding-top: 10px;
}
.contents h2 {
    margin-bottom: 16px;
}
/* 공지사항 */
.notice {
    width: 440px;
}
.notice a {
    display: inline-block;
    width: 340px;
}
.notice span {
    display: inline-block;
    width: 80px;
    text-align: right;
}
.notice a:hover {
    text-decoration: underline;
}

/* 갤러리 */
.gallery {
    width: 400px;
}
.gallery .inner {
    display: flex;
}
.gallery a:not(:last-of-type) {
    margin-right: 10px;
}

/* 바로가기 링크 */
.link {
    width: 360px;
}
.link img {
    height: 180px;
}


/* d영역: 푸터 */
footer {
    height: 100px;
    background: #111;
    color: #777;
}
footer .inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}
.left {
    width: 1000px;
    padding-top: 12px;
}
.left p:last-of-type {
    font-size: 13px;
}
.right {
    width: 200px;
}   
.sns {
    height: 50px;
    padding-top: 20px;
}
.sns a {
    color: #777;
}
.sns a:hover {
    color: #fff;
}