@charset "utf-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");

/* 공통 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 15px/1.6 "돋움", sans-serif;
    background: #fff;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    vertical-align: top;
}

ul {
    list-style: none;
}

/* 기본 레이아웃 */

header,
contents,
footer {
    width: 100%;
    margin: 0 auto;
}

/* a영역: 헤더 */
/* Header */
header {
    position: relative;
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    /* background: darksalmon; */
}

/* LOGO */
.logo {
    padding-top: 24px;
}

/* NAVIGATION */
.gnb {
    z-index: 2;
    position: absolute;
    right: 25px;
    top: 32px;

}

/* nav * {outline: 1px solid lime;} */

/* 1 depth main menu */

.main {
    display: flex;
    text-align: center;
}

.main>li>a {
    display: inline-block;
    width: 160px;
    font-size: 18px;
    font-weight: bold;
    background: #eee;
}

.main>li>a:hover {
    background: #1a4975;
    color: #fff;
}

/* .main>li>a:hover + .sub { */
.main:hover .sub {
    /* sub menu 다 보이게 */
    display: block;
    opacity: 1;
    visibility: visible;
    height: 150px;
}

/* 2 depth sub menu */
.sub {
    display: none;
    padding-top: 10px;
    /* opacity: 0; */
    /* visibility: hidden; */
    /* overflow: hidden; */
    background: rgb(0, 0, 0, 0.5);
    height: 150px;
    /* transition: 0.5s;  */
    /* display, visibility에는 transition이 적용되지 않음. 대개 수치로 크기를 갖는 것에 적용됨, 따라서 opacity를 사용 */
}

/*         .sub.on {
    visibility: visible;
    height: 150px;
    } */

.sub a {
    /* display: block; */
    padding: 4px 16px;
    color: #fff;
    font-size: 14px;
}

.sub a:hover {
    background: darkgreen;
}

/* b와 c영역 공통 */
.wrap {
    width: 1200px;
    margin: 0 auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* b영역: 슬라이드 */
.slide {
    height: 300px;
    overflow: hidden;
}

.slide ul {
    position: relative;
    height: 400%;
    animation: slide 8s infinite;
}

/* .slide li {
    height: 25%;
} */

@keyframes slide {
    0% {top: 0%}
    10% {top: -100%}
    33% {top: -100%}
    43% {top: -200%}
    66% {top: -200%}
    76% {top: -300%}
    99.99% {top: -300%}
    100% {top: 0%}
}

/* POPUP CSS */
#popup1 {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    /* z-index: 666; */
}

#popup1:target {
    display: block;
}

.popup_content {
    /* position: relative; */
    margin: 10% auto;
    padding: 20px;
    background: #e0e0e0;
    width: 300px;
}

/* 닫기 버튼 */
.close_btn {
    display: inline-block;
    margin: 15px 0px 0px 70%;
    border-radius: 8px;
    background: #333;
    color: #fff;
    padding: 10px 20px;
}

/* c영역: 콘텐츠 */
.contents {
    height: 200px;
    display: flex;
    padding-top: 10px;
}

/* Tab */
.tabs {
    width: 400px;
}

/* 탭 */
/* 공지사항 */
.tabs {
    position: relative;
    width: 480px;
    height: 200px;
}

.tabs .tab1 li {
    display: flex;
    justify-content: space-between;
}

.tabs .tab1 a {
    display: inline-block;
    font-size: 14px;
    /* line-height: 2; */
    /* width: 370px; */
}

.tabs .tab1 a:hover {
    text-decoration: underline;
}

/* Gallery */
.tabs input {
    display: none;
}

.tabs label {
    display: inline-block;
    padding: 4px 8px;
    color: #838383;
    cursor: pointer;
}

.tabs input:checked+label {
    color: #eeebeb;
}

.tabs .tab-content {
    position: absolute;
    display: none;
    width: 100%;
    padding: 16px;
    border-top: 1px solid #333;
}

.tabs input:checked+label+.tab-content {
    display: block;
}

/* Galley */
.tabs .tab2 img {
    border: 1px solid transparent;
    padding: 0 10px;
}

.tabs .tab2 img:hover {
    border-color: #000;
    box-shadow: 2px 12px 12px #333;
}

/* BANNER */
.banner {
    margin: 0 10px;
    width: 340px;
}

/* LINK */
.link {
    width: 360px;
}

.link img {
    border: 1px solid #000;
}

/* d영역: 푸터 */
footer {
    height: 100px;
    background: #d4e2dd;
    display: flex;
    align-items: center;
}

/* BLOGO */
.blogo {
    width: 200px;
}

.copy {
    width: 800px;
    padding-left: 30px;
}

.sns {
    width: 200px;
}