@charset "utf-8";
/* CSS reset */
* {
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;/* 공통 */
}
ul {
    list-style: none;
    padding: 0;
}
body {
    background: #fff;
    color: #333;
    font: 16px/1.6 '굴림', sans-serif;
}
a {
    color: #333;
    text-decoration: none;
}
img {
    width: 100%;
    height: 100%;
}
.wrap {
    display: flex;
    /* 
    함수의 형식
        함수명(매개변수 *+-/ 매개변수
    calc(피연산자 - 피연산자) */
    height: calc(100% - 120px);
}
header {
    width: 200px;
    background: lightblue;
    padding: 20px;
}
/* LOGO */
.logo {
    text-align: center;
}
/* NAVIGATION */
nav {
    text-align: center;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}
nav li {
    border: 1px solid #000;
    height: 60px;
    line-height: 60px;
    margin-top: 8px;
    text-align: center;
}
nav li a:hover {
    background: #5e2bbb;
    color: #fff;
}
nav a {
    display: inline-block;
    width: 100%;
    height: 100%;
    /* 0.3초 지연 */
    transition: 0.3s;
}
.contents {
    width: 400px;
    background: lightcyan;
}
.slide {
    /* width: calc(100% - 600px); */
    background: lightgreen;
    /* overflow는 컨텐츠가 넘치면 숨김 */
    overflow: hidden;
}
footer {
    height: 120px;
    background-color: yellow;
}