@charset "utf-8";
/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;/* 공통 */
}
ul {
    list-style: none;
}
body {
    background: #fff;
    color: #333;
    font: 16px/1.6 '굴림', sans-serif;
}
a {
    color: #333;
    text-decoration: none;
}
img {
    align-items: top;
    /* width: 100%; */
    /* height: 100%; */
}
.wrap {
    display: flex;
    /* 
    함수의 형식
        함수명(매개변수 *+-/ 매개변수
    calc(피연산자 - 피연산자) */
    height: calc(100% - 120px);
}
header {
    width: 200px;
    background: lightblue;
    padding: 20px 0;
}
/* LOGO */
.logo {
    width: 180px;
    text-align: center;
    padding-right: 10px;
}
/* NAVIGATION */
/* GNB */
        /* typo(title, body, 텍스트 간의 위계질서) */
                
        /* Main(1-depth) */
        .gnb .main {
            
        }
        .main li>a {
            position: relative;
            background: #9aa788;
            display: block;
            visibility: visible;
            width: 160px;
            height: 30px;
            line-height: 30px;
            margin: 1px 10px;
            font-weight: bold;
            text-align: center;
        }
        .main>li>a:hover {
            background: #1b3b86;
            color: #fff;
        }
        .main li:hover .sub {
            z-index: 1;
            left: 160px;
            opacity: 1;
        }
        /* SUBMENU(2-depth) */
        .sub {
            z-index: -1;
            position: absolute;
            /* top: 100px; */
            left: 80px;
            visibility: hidden;
            /* opacity: 0; */
            /* visibility:hidden, display:none에는 transition이 적용되지 않음 */
            transition: .3s ;
            padding: -10px 0px;
        }
        .sub li a {
            display: block;
            text-align: center;
            background: #2496a5;
            font-size: 14px;
            line-height: 14px;
            padding: 16px 32px;
            color: #fff;

        }
        .sub li:hover a {
            color: #fdfdfd;
            background:  #1b3b86;
        }

        .gnb .sub a {
            font-size: 14px;
        }
/* 콘텐츠 */
.contents {
    width: 400px;
    background: lightcyan;
}
.contents h4 {
    margin: 5px 0 0 5px;
}
/* 콘텐츠 4개 부 */
.banner {
    height: 120px;
    align-items: center;
    padding: 0 30px;
    height: 150px;
}
.banner img {
    width: 150px;
    
}
.banner p {
    font-size: 16px;
    letter-spacing: -3px;
    margin-left: 5px;
    padding-left: 5px;
}
.notice {
    font-size: 14px;
    height: calc(100%-600px);
    padding: 16px 13px 13px;
    background: rgb(205, 233, 241);
    }
.notice a {
    font-size: 12px;
    width: 300px;
    margin-left: 5px;
}
.notice li {
    line-height: 1.5;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
}
.notice li:hover {
    line-height: 2;
    border-bottom: 2px solid blue;
}

.notice span {
    margin-left: 5px;
}
.gallery {
    height: 300px;
    background: rgb(188, 204, 238);
}
.gallery img {
    width: 180px;
    height: 136px;
    margin: 10px 10px;
}
.gallery .inner {
    display: flex;
    justify-content: space-evenly;
}
.gallery p {
    width: 160px;
    text-align: center;
}
.link {
    display: flex;
    height: 120px;
    margin: 10px 10px;
    align-items: space-between;

}
.link img {
    width: 70px;
    height: 60px;
}
/* 슬라이드 */
.slide {
    /* width: calc(100% - 600px); */
    background: lightgreen;
    /* overflow는 컨텐츠가 넘치면 숨김 */
    overflow: hidden;
}
/* Footer */
footer {
    display: flex;
    height: 120px;
    background-color: rgba(229, 229, 215, 0.854);
    align-items: center;
}
.blogo {
    width: 200px;
    height: 50px;
    align-items: center;
    /* margin: 30px 40px; */
}
.center_content {
    width: 1200px;
    font: 16px normal 'noto sans kr', arial;
    text-align: center;
    letter-spacing: -1px;
    margin-top: 25px;
}
.bmenu {
    display: flex;
    height: 40px;
}
.bmenu li {
    margin-right: 10px;
    padding-left: 40px;

}
.bmenu li:not(:last-child):after {
    content: '|';
    margin-left: 16px;
}
.bmenu a {
    color: #433d3d;
}
.fs {
    /* font-size: 24px; */
    width: calc(100%-600px);
}