@charset "utf-8";
/* CSS reset */
* {
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;/* 공통 */
}
ul {
    list-style: none;
    padding: 0;
}
body {
    background: #fff;
    color: #333;
    font: 16px/1.6 '굴림', sans-serif;
}
a {
    color: #333;
    text-decoration: none;
}
img {
    width: 100%;
    height: 100%;
}
.wrap {
    display: flex;
    /* 
    함수의 형식
        함수명(매개변수 *+-/ 매개변수
    calc(피연산자 - 피연산자) */
    height: calc(100% - 120px);
}
header {
    width: 200px;
    background: lightblue;
    padding: 20px;
}
/* LOGO */
.logo {
    text-align: center;
}
/* NAVIGATION */
nav {
    text-align: center;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    flex-shrink: inherit;
}
nav li {
    border: 1px solid #000;
    height: 50px;
    line-height: 60px;
    margin-top: 8px;
    text-align: center;
}
nav li a:hover {
    background: #5e2bbb;
    color: #fff;
}
nav a {
    display: inline-block;
    width: 100%;
    height: 100%;
    /* 0.3초 지연 */
    transition: 0.3s;
}
/* 콘텐츠 */
.contents {
    width: 400px;
    background: lightcyan;
}
/* 콘텐츠 4개 부 */
.banner {
    height: 120px;
    background: cyan;
}
.notice {
    height: calc(100%-600px);
}
.gallery {
    height: 360px;
    background: lightgreen;
}
.link {
    background: lightpink;
    height: 120px;
}
/* 슬라이드 */
.slide {
    /* width: calc(100% - 600px); */
    background: lightgreen;
    /* overflow는 컨텐츠가 넘치면 숨김 */
    overflow: hidden;
}
footer {
    display: flex;
    height: 120px;
    background-color: rgba(229, 229, 215, 0.854);
    align-items: center;
}
.blogo {
    width: 200px;
    height: 50px;
    align-items: center;
    /* margin: 30px 40px; */
}
.center_content {
    width: 1200px;
    font: 16px normal 'noto sans kr', arial;
    text-align: center;
    letter-spacing: -1px;
    margin-top: 25px;
}
.bmenu {
    display: flex;
    height: 40px;
}
.bmenu li {
    margin-right: 10px;
    padding-left: 40px;

}
.bmenu li:not(:last-child):after {
    content: '|';
    margin-left: 16px;
}
.bmenu a {
    color: #433d3d;
}
.fs {
    /* font-size: 24px; */
    width: calc(100%-600px);
}