@charset "utf-8";

/* color system */
:root {
  font-size: 10px;
  /* 변수 선언 */
  /*  --변수명:  */
  --gray1: #111;
  --gray2: #555;
  --main: #ffdb00;
}

/* typo system */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


body {
  font: 1.6rem/1.5 "Noto Sans KR", sans-serif;
  color: var(--gray1);
}

h2 {
  font-size: 4.5rem;
  font-weight: 200;
}

h3 {
  font-weight: 200;
}

/* sections */
#container >div {
  height: 100vh;
}