@charset "utf-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");

/*
padding, margin 설정으로 인한 박스 크기 변경시 맞추기 위해 조정

* body {box-sizing: border-box;} */
body, h1, h2, ul, p {
    margin: 0;
}

body {
    background: #fff;
    color: #333;
    margin: 0;
    font: 16px/1.6 "굴림", sans-serif;
}
a {
    text-decoration: none;
    color:#333;
}

header, .contents, footer {
    width: 1200px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;/* check these 2 rows */
    height: 100px;
}
nav {
    width: 800px;
    height: 60px;

}
nav li {
    display: inline-block;
    width: 120px;
    line-height: 60px;
    align-content: center;
}
nav a {
    
}
nav .main li>a {
    font-size: 18px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.slide {
    height: 350px;
    text-align: center;
    overflow: hidden;
}
.slide li+li {
    display: none;
}
.contents {
    height: 720px;
}
.contents a {
    color: #fff;
}
.link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    background: darkblue;
}
.banner {
    display: flex;
    align-items: center;
    height: 200px;
    padding-left: 20px;
    background: lightcyan;
}
.banner > div:first-of-type {
    display: flex;
}
.banner > div:nth-of-type(3) {
    padding-left: 60px;
}
.banner h2 {
    width: 600px;
    padding-left: 30px;
}
.banner p {
    width: 600px;
    padding-left: 30px;
}
.btn img {
    padding: 30px 0 0 200px;
}
.notegal {
    background: darkblue;
    display: flex;
    height: 400px;
    color: #fff;
}
.notice {
    width: 540px;
    /* width: calc(1200px/2); */
}
.notice h2 {
    margin: 16px 0 0 8px;
}


td:nth-of-type(1) {
    margin-top: 30px;
    width: 100px;
}
td:nth-of-type(2) {
    margin-top: 30px;
    width: 450px;
    padding-left: 8px;
}

.gallery {
    width: 660px;
    /* width: calc(1200px/2); */
}
.gallery h2 {
    margin: 16px 0 0 8px;
}
.inner {
    display: flex;
}

.gallery a {
    width: 220px;
    /* border: 1px solid #000; */
}
footer {
    display: flex;
    background: #999;
    height: 120px;
    color: #fff;
}
footer a {
    color: #fff;
}
.left {
    width: 900px;
    margin: 0;
    text-align: center;
}
.right {
    width: 300px;
}
.sns { 
    height: 60px;
    line-height: 60px;
    /* align-content: center;
    align-items: center; */
    margin: 0 0 0 20px;
}
.sns li {
    display: inline;
}
/* .sns li:nth-of-type(1)::after {
    content: " |"
}
.sns li:nth-of-type(2)::after {
    content: " |"
} */
 /* 
    선택자1:not(선택자2)
    선택자 2를 제외한 선택자 1을 선택

    last-of-type을 제외한 li 요소의 끝 태그 앞에 "|" 추가*/

.sns li:nth-of-type(1):a:hover {
    color: 1a5bad;
}
.sns li:nth-of-type(2):a:hover {
    color: 1c96e8;
}
.sns li:nth-of-type(3):a:hover {
    color: 1a5bad;
}
 /* .sns li:not(:last-of-type)::after {content: " |"} */
.fs {
    height: 60px;
    margin: 5px 0 0 60px;
}