@charset "utf-8";
@import url('common.css');

/* typo */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
.ls10 {
  letter-spacing: 10px;
}
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
p, footer a {
  font-family: 'Pretendard-Regular', Arial, Helvetica, sans-serif;
}

#sec1 {
  height: 100vh;
    /* background image parallex scrolling */
  background: url(../image/parallax1.jpg) no-repeat 50% 50%/cover fixed;
}
