@charset "utf-8";

/* 기본 설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 15px/1.6 "noto sans KR", sans-serif;
    background: #fff;
    color: #333;
}

a {
    text-decoration: none;
}

img {
    vertical-align: top;
}

ul {
    list-style: none;
}


.container {
    display: flex;
}

/* HEADER */
/* a영역: 헤더 */
header {
    width: 200px;
    background: #d8e79f;
    margin: 0 auto;
}

/* LOGO */
.logo {
    height: 40px;
}

/* NAVIGATION */
.gnb {
    margin: 20px auto;
    width: 100%;
    background: darkkaki;
}

/* 1depth Menu */
.main>li>a {
    display: block;
    margin-bottom: 5px;
    width: 200px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background: #999;
    color: #333;
}

.gnb .main>li>a:hover {
    background: darkgreen;
    color: #fff;
}

/* 2nd depth: SUB menu */
.sub  {
    display: none;
    position: absolute;
    top: 30px;
    left: 240px;
    padding-top: 10px;
    height: 200px;
    width: 200px;
    line-height: 20px;
}
.sub>li>a {
    background: rgba(0, 0, 0, 0.5);
}

.sub>li>a:hover {
    background: #474ead;
    color: #fff;
    text-decoration: underline;

}

/* CONtainer */
.container {
    width: calc(100% - 200px);
    margin: 0 auto;
}

/* Slides (moveing upwards) */
.slide {
    position: relative;
    /* width: 1200px; */
    height: 300px;
    overflow: hidden;
}

.slide ul {
    position: relative;
    /* display: flex;
            flex-direction: column; */
    width: 100%;
    /* 없어도 됨 */
    height: 400%;
    background: #000;
    animation: slide 8s infinite;
}

.slide li {
    flex: 0 0 25%;
    /* 25%는 없어도 되나 이미지가 컨텐츠보다 작은 경우 겹치고 안 보이는 등 문제 발생 */
}

@keyframes slide {
    0% {
        top: 0%
    }

    10% {
        top: -100%
    }

    33% {
        top: -100%
    }

    43% {
        top: -200%
    }

    66% {
        top: -200%
    }

    76% {
        top: -300%
    }

    99.99% {
        top: -300%
    }

    100% {
        top: 0%
    }
}

/* modal popup */
.modal {
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.popup {
    width: 600px;
    position: absolute;
    left: 30%;
    top: 30%;
    padding: 30px;
    background: #ccc;
}

/* .popup .button {
    position: relative;
    left: 80px;
    top: 90px;
} */
/* lower section: 공지사항, 갤러리, 링크 */
.lower {
    display: flex;
    margin-top: 5px;
    height: 200px;
}


.notice {
    width: 400px;
    height: 200px;
    border: 1px solid #fff;
}

.notice p {
    display: inline-block;
    width: 300px;
    line-height: 1.2;
    /* margin-top: 10px; */
}

.notice h2 {
    margin-bottom: 5px;
}

.gallery {
    display: flex;
    width: 400px;
    border: 1px solid #fff;
    margin-top: 5px;
}

.gallery a {
    margin: 5px;
}

.gallery span {
    text-overflow: ellipsis;
    display: block;
    padding: 2px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1;
}

.link {
    width: 400px;
    border: 1px solid #000;
}

.link p {
    margin-top: -60px;
    text-align: center;
    line-height: 1.2;
}

/* footer */
footer {
    display: flex;
    height: 90px;
    line-height: 90px;
    background: #999;
    margin-top: 10px;
}

.finner {
    width: 1200px;
    display: flex;
}

.left_footer {
    display: flex;
    width: 800px;
}

.left_footer img {
    padding: 28px 0;
    width: 200px;
    /* height: 40px; */
}

.left_footer p {
    padding-left: 120px;
}

.right_footer {
    line-height: 60px;
}

.sns {
    height: 30px;
    line-height: 40px;
}

.sns a {
    color: #333;
}

.sns a:hover {
    color: #fff;
}