@charset "utf-8";

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    background: #fff;
    z-index: 999;
}

.header_inner {
    border-bottom: 1px solid #ddd;
}

.first {
    display: flex;
    width: 1200px;
    height: 70px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}

.language {
    position: relative;
}

.language_list {
    z-index: 1000;
    position: absolute;
    top: 40px;
    left: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: none;
    width: 140px;
    height: 135px;
    text-align: left;
    background: #fff;
}

.language_list a {
    padding-top: 15px;
    display: inline-block;
    color: #737373;
    margin-left: 30px;
}

.language_list span {
    font-size: 8px;
    display: inline-block;
    margin-right: 7px;
}

.lbtn {
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.language .language_btn {
    width: 11.49px;
    height: 5.75px;
    object-fit: cover;
    margin-top: 10px;
}

.logo {
    width: 140px;
}

.icons img {
    margin-right: 30px;
}

.nav {
    position: relative;
    border-bottom: 1px solid #ddd;
    height: 70px;
    z-index: 999;
}

.gnb {
    width: 1200px;
    height: 70px;
    margin: 0 auto;
}

.main {
    display: flex;
    justify-content: center;
    gap: 120px;
    text-align: center;
}

.main > li {
    position: relative;
    width: 180px;
}

.main > li > a {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 10px;
    position: relative;
}

.main > li > a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0px;
    height: 4px;
    background: #c8b158;
}

.main > li:hover > a::after {
    width: 100%;
}

.sub {
    position: absolute;
    width: 180px;
    height: 0;
    overflow: hidden;
    transition: 0.3s;
    z-index: 999;
}

.nav:hover .sub {
    padding-top: 10px;
    height: 170px;
}

.nav_bg {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 70px;
    left: 0;
    width: 100vw;
    height: 0;
    z-index: 998;
    transition: 0.3s;
}

.nav:hover .nav_bg {
    height: 170px;
}

.sub li a {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 2.4;
}

.sub li a:hover {
    text-decoration: underline;
}
