@charset "utf-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
/* @import url("reset.css");
@import url("sub.css");
@import url("header.css"); */

/*
padding, margin 설정으로 인한 박스 크기 변경시 맞추기 위해 조정

* body {box-sizing: border-box;} */
/* body,
h1,
h2,
ul,
p {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #333;
  margin: 0;
  font: 16px/1.6 "굴림", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #333;
} */
header {
  height: 300px;
  width: 100%;
  background: #777;
}
.bar_title {
  height: 50px;
  line-height: 50px;
  background: #572b4c;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
}
.route_container {
  position: relative;
  width: 1200px;
  height: 1500px; /*  */
  margin: 0 auto;
}

.route_tab > ul {
  display: flex;
  margin-top: 20px;
}
.route_tab li {
  width: 150px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #d5d5d5;
  text-align: center;
  /* background: #f4f4f4; */
  font-size: 14px;
}

.map_legend {
  position: relative;
  right: 30px;
  top: 50px;
  margin-top: 20px;

}



/* 푸터 */
