@character "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 전체 */
* {
    margin: 0 ;    /* 위아래 마진 */
    /* outline: 1px dotted red; */
    }
body {
    background:#fff;
    color: #222328;
    font: 15px/1.6 bold "Noto Sans KR", sans-serif;
}
ul {
    padding: 0;  /* left padding */
    list-style: none;
}
a {
    text-decoration: none;
    color: #222328;
}
/* 블록레벨요소를 가로 가운데 맞춤하기 */
.wrap {
    /* width: 1200px; */
    margin: 0 auto;
}

/* 헤더 */
/* shift+alt+f: 자동정렬 */
header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    
}
.logo {
    margin-top: 30px;
    width: 200px;
}
        /* NAVIGATION */
        .gnb {
            z-index: 2;
            position: absolute;
            right: 25px;
            top: 32px;

        }
        /* nav * {outline: 1px solid lime;} */
        
        /* 1 depth main menu */
        
        .main {
            display: flex;
            text-align: center;
        }

        .main>li>a {
            display: block;
            width: 160px;
            font-size: 18px;
            font-weight: bold;
            background: #eee;
        }
        .main>li>a:hover {
            background: #1a4975;
            color: #fff;
        }

        /* .main>li>a:hover + .sub { */
         .main:hover .sub { /* sub menu 다 보이게 */
            display: block;
            opacity: 1;
            visibility: visible; 
            height: 150px;
         }

        /* 2 depth sub menu */
        .sub {
            display: none;
            padding-top: 10px;
            /* opacity: 0; */
            visibility: hidden;
            /* overflow: hidden; */
            background: rgb(0,0,0,0.5);
            height: 150px;
            /* transition: 0.5s;  */
            /* display, visibility에는 transition이 적용되지 않음. 대개 수치로 크기를 갖는 것에 적용됨, 따라서 opacity를 사용 */
        }
/*         .sub.on {
            visibility: visible;
            height: 150px;
        } */

        .sub a {
            /* display: block; */
            padding: 4px 16px;
            color: #fff;
            font-size: 14px;
        }
        .sub a:hover {
            background: darkgreen;
        }
/* 스라이드 */
/* 슬라이드 이미지 */
.slide {
    width: 400px;
    height: 300px;
    overflow:hidden;
    position: relative;
    left: 30%;
}
.slide ul {
    position: relative;
    display: flex;
    width: 400%;
    height: 100%;
    animation: slide 8s infinite;
}
.slide li {
    width: 25%;
}

@keyframes slide {
    0% {left:0%;}
    10% {left:-100%;}
    33% {left:-100%;}
    43% {left:-200%;}
    66% {left:-200%;}
    76% {left:-300%;}
    99.99% {left:-300%;}
    100% {left:0%;}
}
/* 콘텐츠 */
.contents {
    height: 740px;
    margin: 10px;    
}
.details ul{
    display: flex;
    width: 1200px;
    justify-content: space-between;
}
.details li {
    margin: 10px 15px 20px;
    width: 280px;
    line-height: 1.8;
}
section {
    display: flex;
    height: 400px;

}
.banner {
    width: 730px;
    padding: 10px 5px;
}
.map {
    width: 400px;
    padding: 10px 5px;
    
}
/* 푸터 */
.footer {
    display: flex;
    height: 100px;
    background: #3a3a3a;
    color: #727070;
}
.blogo {
    
    padding-top: 28px;
    width: 200px;
}
.copy {
    padding: 24px;
    text-align: center;
    width: 800px;
}
.sns {
    width: 200px;
    line-height: 100px; /* 한 줄인 경우에만 수직 배치 가능 */
    text-align: center;
    font-size: 24px;
}
.sns a {
    color: #fff;
}
.sns li {
    display: inline-block;
    margin-left: 8px;
}