@charset "utf-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
@import url("reset.css");
@import url("sub.css");
@import url("header.css");

/*
padding, margin 설정으로 인한 박스 크기 변경시 맞추기 위해 조정

* body {box-sizing: border-box;} */
/* body,
h1,
h2,
ul,
p {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #333;
  margin: 0;
  font: 16px/1.6 "굴림", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #333;
} */
header {
  height: 400px;
  width: 100%;
  background: #777;
}
.bar_title {
  height: 50px;
  line-height: 50px;
  background: #572b4c;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
}
.station_container {
  width: 1200px;
  height: 2400px;/*  */
  margin: 0 auto;
}
h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 32px;
}
.station_tab > ul {
  display: flex;
}
.station_tab li {
  width: 25%;
  height: 50px;
  line-height: 40px;
  border: 1px solid #d5d5d5;
  text-align: center;
  background: #f4f4f4;
  font-size: 18px;
}
.station_tab a {
  font-size: 18px;
  font-weight: 700;
  color: #666;
}
.station_tab .on {
  background: #572b4c;
  color: #fff;
}

/* 역 전경 슬라이드 */
.station_slide {
  width: 100%;
}
.slide-container {
  border: 1px solid #ccc;
  position: relative;
  margin: 50px auto;
  overflow: hidden;
}
.slide_inner {
  width: 850px;
  margin: 0 auto;
  overflow: hidden;
}
.slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slide {
  min-width: 850px;
  height: 500px;
  border-right: 1px solid #ccc;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 75px;
  height: 95px;
  color: white;
  cursor: pointer;
  z-index: 1;
}
.prev {
  left: 30px;
}
.next {
  right: 30px;
}

/* 오시는 길 */

.come2us li {
  display: flex;
  height: 180px;
  border: 1px solid #999;
  margin-bottom: 8px;
}

.come2us img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
}
.come2us .tbox {
  color: #fff;
  padding-top: 20px;
  text-align: center;
  width: 180px;
  color: #fff;
}

.come2us .box1 {
  background: #6d3767;
}
.come2us .box2 {
  background: #3e92bd;
}
.come2us .box3 {
  background: #2e5292;
}

.come2us .tcontext {
  width: 1020px;
  padding: 40px 20px;
}
.come2us .tcontext p {
    color: red;
}

/* 주차장 이용 안내 */
.park_info {
  height: 400px;
  margin-top: 40px;
}
/* 주차요금 */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  width: 16.66%;
  border: 1px solid #333;
  text-align: center;
  padding: 4px;
}
.c1, th {
  background: #e0e0e0;
  font-weight: 600;
}
.park_info p {
  font-size: 12px;
  color: #c7187d;
}

/* 주차장 혼잡시간 안내 */
.park_heavy {
    height: 600px;
}
.park_heavy h2 {
  margin-top: 30px;
}
.park_heavy img {
    margin: 0;
    /* height: 300px; */
}
/* 푸터 */
