@charset "utf-8";
body {
    background: #fff;
    color: #333;
    margin: 0;
    font: 16px/1.6 "굴림", sans-serif;
    /* background: #1b3b86; */
}
a {
    text-decoration: none;
    color:#333;
}

header, .contents, footer {
    width: 1340px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;/* check these 2 rows */
    align-items: center;
    height: 100px;
}
nav {
    width: 800px;
    height: 60px;
}
nav li {
    display: inline-block;
    width: 120px;
    line-height: 60px;
}
nav a {
    
}
nav .main li>a {
    font-size: 18px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.slide {
    height: 350px;
    text-align: center;
    overflow: hidden;
}
.slide li+li {
    display: none;
}
.contents {
    background: lightseagreen;
    height: 720px;
}
footer {
    background: #555;
    height: 120px;
}