@charset "uft-8";
/* reset */
img {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: #fff;
}
body {
  background: #fff;
  color: #fff;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background: #000;
  color: #fff;
  height: 70px;
  justify-content: space-between;
}

.logo {
  display: grid;
  grid-template-columns: auto auto;
  width: 200px;
  padding: 15px;
  align-items: center;
}
.logo img {
  width: 35px;
  height: 35px;
}
.tlogo {
  font-size: 24px;
}
.gnb {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 200px;
  list-style-type: none;
}
.gnb li a {
  color: #fff;
  text-decoration: none;
}

.boxoffice {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.movie-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 220px;
  padding: 10px;
  margin: 15px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.movie-card img {
  width: 100%;
  height: 350px;
  border-radius: 4px;
  margin-top: 8px;
}

.movie-info {
  margin-top: 10px;
  color: #000;
  text-align: center;
  margin-bottom: 10px;
  /* height: 50px; */
}

.issue {
  font-size: 0.9rem;
  color: #555;
}

.footer {
  width: 100%;
  height: 70px;
  position: relative;
  bottom: 0;
  background: #000;
  color: #fff;
  /* margin-top: 10px; */
  padding: 10px;
}
