@charset "utf-8";
/* reset */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

@font-face {
    font-family: 'GothicA1-Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

/* :root는 html태그를 가리킨다. */
:root {
    --gray1: #111;
    --gray3: #333;
    --gray5: #555;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body,h1,h2,h3,ul,p {
    margin: 0;
}

body {
    font: 16px/1.6 "Noto Sans KR", sans-serif;
}

ul {
    padding: 0;
    list-style: none;
}
