@charset "utf-8";
@import url('common.css');

/* 내비게이션 */
.gnb {
    position: absolute;
    top: 10px;
    right: 24px;
    text-align: center;
}

/* 1depth: 메인메뉴 */
.gnb .main {
    display: flex;
}

.gnb .main>li>a {
    display: block;
    width: 240px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    color: #fff;
}

.gnb .main>li>a:hover {
    background: #333;
    color: #999;
}

/* 2depth: 서브메뉴 */
.gnb .sub {
    /* display: none; */
    height: 200px;
    padding-top: 10px;
    background: #000;
    color:#fff;
}

.gnb .sub>li>a {
    padding: 2px 8px;
    font-size: 14px;
    line-height: 2;
}

.gnb .sub>li>a:hover {
  display: block;
    /* background: #474ead; */
    color: #fff;
}

