@charset "utf-8";
@import url(carousel2.css);
@import url(commmon.css);
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: #333;
  font: 14px/1.6 "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  vertical-align: top;
}

header {
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background: #111;
}

.logo {
  position: fixed;
  top: 3%;
  left: 3%;
  width: 5vw;
}


/* navigation from gnb.css */
.gnb {
  position: absolute;
  top: 40px;
  right: 24px;
  text-align: center;
}
.nav_bg {
  width: 100%;
  background: #111;
}

/* 1depth: 메인메뉴 */
.gnb .main {
  display: flex;
}

.gnb .main > li > a {
  display: block;
  width: 90%;
  height: 40px;
  margin-left: 10px;
  font-size: 0.8rem;
  text-align: center;
  letter-spacing: -2px;
  color: #fff;
}

.gnb .main > li > a:hover {
  background: #750909;
}
.gnb .sub {
  display: none;
}

/* 2depth: 서브메뉴 */
.gnb .sub > li > a {
  padding: 2px 8px;
  font-size: 1.2rem;
  line-height: 2;
}

.gnb .sub > li > a:hover {
  display: flex;
  background: #750909;
  color: #fff;
}

.sec1 {
  margin: 0 auto;
  /* height: 500px; */
  width: 100%;
  background: #333;
  color: white;
  letter-spacing: 2px;
  font-size: 1.2rem;
}
.sec1 h2 {
  font-family: "GmarketSansMedium";
  font-size: 2rem;
  margin-left: 10px;
  line-height: 1.4;
}
.subad {
  border-bottom: 1px solid #aaa;
}
.one {
  display: flex;
}
.one div:first-child {
  margin-right: 10px;
}
.two {
  display: flex;
}
.two div:first-child {
  margin-right: 10px;
}
.three {
  display: flex;
}
.three div:first-child {
  margin-right: 10px;
}
.four {
  display: flex;
}
.four div:first-child {
  margin-right: 10px;
}

.pileup {
  display: block;
  margin: 0px auto;
  width: 400px;
}

.sec2 {
  font-family: "GmarketSansMedium";
  text-align: center;
  padding: 20px;
  height: 520px;
  width: 100%;
  background: url("../image/blackleather.jpg");
  color: #fff;
}
.sec2>h2 {
  font-size: 1.2rem;
}
.sec2 > p {
  font-size: 1.8rem;
  font-weight: 500;
}
.triangle {
  /* width: 100%; */
}
/* .sec3 {
  height: 100px;
  background: pink;
  }
  .sec5 {
    height: 100px;
    background: pink;
    } */

/* section 4  */
.sec4 {
  position: relative;
  background: url("../image/blackleather.jpg") no-repeat 50% 50% / cover fixed;
  color: #fff;
  padding-bottom: 130px;

}
.sec4 .left {
  padding: 50px;
}
.sec4 h2 {
  font-family: "GmarketSansMedium";
  font-size: 2rem;
  line-height: 1.5;
}
.sec4 > .left > p {
  font-size: 1.5rem;
  margin-top: 20px;
}
.sec4 > .right > img {
  /* display: block; */
  margin: 10px;
  margin-top: 0;
}
.sec4 > .tobuy {
  padding: 20px;
  width: 300px;
  position: absolute;
  top: 82%;
  left: 20%;
 }
.sec4 button {
  margin-top: 20px;
  margin-left: 30px;
  display: block;
  padding: 10px;
  width: 200px;
  font-size: 1.5rem;
  line-height: 1.5rem;
  background: red;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 20px;
}

/* .sec4 .right {
  margin-left: 100px;
  } */
  /* Footer */
  footer {
    padding: 30px 16px;
    width: 100%;
    height: 120px;
    background: #333;
    color: #fff;
  }
  
  footer .sns {
    text-align: center;
    margin-bottom: 10px;
  }
  footer .sns a {
    display: inline-block;
    background: transparent;
    color: #fff;
    width: 80px;
    margin-left: 8px;
    border: 1px solid #fff;
    border-radius: 20px;
  }
  footer .copy {
    /*  */
    text-align: center;
    line-height: 1.2;
  }
  
/* to the top button */
#up {
  position: fixed;
  right: -100px;
  bottom: 70px;
  width: 100px;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
}
#up.on {
  opacity: 1;
  right: 30px;
  visibility: visible;
}
#up a {
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

/* media query */
/* tablet */
@media (min-width: 768px) {
  .gnb .main > li > a {
    display: block;
    width: 100%;
    text-align: center;
    height: 40px;
    font-size: 1.2rem;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    color: #fff;
  }
  .sec1 {
    display: flex;
  }
  .ad h2 {
    position: relative;
    left: 60%;
    text-align: right;
  }
  .sec1 .ad {
    width: 60%;
  }
  .subad {
    width: 50%;
    margin: 10px;
    border-bottom: 0px solid #333;
  }
  .onetwo {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    justify-content: space-between;
  }
  .threefour {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
  }
  .sec4 {
    padding-bottom: 20px;
  }
  .sec4 .container4 {
    display: flex;
    justify-content: space-between;
    height: 110%;
    background: url("../image/blackleather.jpg") no-repeat 50% 50% / cover fixed;
    color: #fff;
  }
  .sec4 > .tobuy {
    padding: 20px;
    width: 300px;
    position: absolute;
    top: 72%;
    left: 5%
  }
  footer container {
    display: inline;
  }
  /* footer */
  footer container {
    display: fex;
  }
}
/* desktop */
@media (min-width: 992px) {
  .sec1 {
    /* padding: 68px 205px 0;  */
    /* max-width: 1510px; */
    margin: 0 auto;
  }
  .pileup img {
    height: 80%;
    position: relative;
    top: 15%;
  }

  /* footer */
  footer .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  footer .container .copy {
    display: flex;
  }
  footer .container .copy p:last-child {
    margin-left: 10px;
  }
}
