@charset "utf-8";
@import url(slider.css);
@import url(commmon.css);

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
    color: #333;
    background: #fff;
    font: 14px/1.6 "Noto Sans KR", sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    vertical-align: top;
}

header {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 85px;
  background: #000;
}
.nav>ul {
  display: flex;
  width: 70%;
  justify-content: space-around;
  color: #fff;
  ;
}
.depth2 {
  display: none;
}

.main_rolling_pc {
  /* position:absolute; */
    height: 650px;
    background: rgb(255, 36, 3);
    /* overflow:hidden; */
}