@charset "utf-8";
/* 기본 설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 15px/1.6 "noto sans KR", sans-serif;
    background: #fff;
    color: #333;
}
a {
    text-decoration: none;
}

img {
    vertical-align: top;
}

ul {
    padding: 0;
    list-style: none;
}
/* HEADER */
/* a영역: 헤더 */
header {
    height: 100px;
    /* background: #f0f0f0; */
    background: yellow;
}
header .inner {
    position: relative;
    /* display: flex; */
    margin: 0 auto;
    /* justify-content: space-between; */
    align-items: center;
    width: 1200px;
    height: 100px;
    /* background: lightcoral; */
    position: relative;
}
.nav_bg {
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 100px;
    background: rgba(0,0,0,0.5);
}

/* LOGO */
.logo {
    padding: 30px;
    width: 200px;
    height: 40px;
}

/* NAVIGATION */
.gnb {
    position: absolute;
    z-index: 2;
    right: 30px;
    top: 60px;
    width: 640px;
    height: 30px;
    background: darkkaki;
    text-align: center;
}

/* 1depth Menu */
.gnb .main {
    display: flex;
}

/* 가상요소로 배경바 삽입 */
 .gnb .main::before {
    content: "";
    background: yellow;

    /* 서브 메뉴를 1차메뉴 너비로 할 때 */
    position: absolute;
    width: 1200px;
    right: 0px;
    top: 30px;
    /* 서브 메뉴를 전체 너비로 할 때 */
    /* position: fixed;
    /* width: 100%; */
    z-index: -1; 
    /* height: 0px; */ 
 }

.gnb .main>li>a {
    display: block;
    width: 160px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    background: #999;
}

.gnb .main:hover::before {
    height: 150px;
}
.gnb .main:hover .sub {
    height: 150px;
}

/* 2nd depth: SUB menu */
.gnb .sub {
    height: 0;
    overflow: hidden;
    transition: .3s;
    /* background: rgba(157, 170, 188, 0.5); */
}

.gnb .sub::before {
    content: '';
    display: block;
    padding-top: 10px;
}

.gnb .sub>li>a {
    display: block;
    font-size: 14px;
}

.gnb .sub>li>a:hover {
    background: #474ead;
    color: #fff;
    text-decoration: underline;

}
/* CONtainer */
.container {
    width: 1200px;
    margin: 0 auto;
}
/* Slides (moveing upwards) */
.slide {
    position: relative;
    /* width: 1200px; */
    height: 300px;
    overflow: hidden;
}

.slide ul {
    position: relative;
    /* display: flex;
            flex-direction: column; */
    width: 100%;
    /* 없어도 됨 */
    height: 400%;
    background: #000;
    animation: slide 8s infinite;
}

.slide li {
    flex: 0 0 25%;
    /* 25%는 없어도 되나 이미지가 컨텐츠보다 작은 경우 겹치고 안 보이는 등 문제 발생 */
}

@keyframes slide {
    0% {top: 0%}
    10% {top: -100%}
    33% {top: -100%}
    43% {top: -200%}
    66% {top: -200%}
    76% {top: -300%}
    99.99% {top: -300%}
    100% {top: 0%}
}

/* lower section: 공지사항, 갤러리, 링크 */
.lower {
    display: flex;
    margin-top: 5px;
    height: 200px;
}

.notice {
    width: 400px;
    height: 200px;
    border: 1px solid #fff;
}

.notice p {
    display: inline-block;
    width: 300px;
    line-height: 1.2;
    /* margin-top: 10px; */
}

.notice h2 {
    margin-bottom: 5px;
}

.gallery {
    display: flex;
    width: 400px;
    border: 1px solid #fff;
    margin-top: 5px;
}

.gallery a {
    margin: 5px;
}

.gallery span {
    display: inline-block;
    padding: 2px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1;
}

.link {
    width: 400px;
    border: 1px solid #000;
}
.link p {
    margin-top: -60px;
    text-align: center;
    line-height: 1.2;
}

/* footer */
footer {
    display: flex;
    height: 90px;
    line-height: 90px;
    background: #999;
    margin-top: 10px;
}
.finner {
    width: 1200px;
    display: flex;
}
.left_footer {
    display: flex;
    width: 800px;
}
.left_footer img {
    padding: 28px 0;
    width: 200px;
    /* height: 40px; */
}
.left_footer p {
    padding-left: 120px;
}
.right_footer {
    line-height: 60px;
}
.sns {
    height: 30px; 
    line-height: 40px;
}
.sns a {
    color: #333; 
}

.sns a:hover {
    color: #fff;
}
