@character "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 전체 */
* {
    margin: 0 ;    /* 위아래 마진 */
    /* outline: 1px dotted red; */
    }
body {
    background:#fff;
    color: #222328;
    font: 15px/1.6 bold "Noto Sans KR", sans-serif;
}
ul {
    padding: 0;  /* left padding */
    list-style: none;
}
a {
    text-decoration: none;
    color: #222328;
}
/* 블록레벨요소를 가로 가운데 맞춤하기 */
.wrap {
    /* width: 1200px; */
    margin: 0 auto;
}

/* 헤더 */
/* shift+alt+f: 자동정렬 */
header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    
}
.logo {
    margin-top: 30px;
    width: 200px;
}
.gnb ul {
    width: 500px;
    display: flex;
    justify-content: space-between;
    }
.gnb li {
    font-size: 18px;
}
.gnb a {
    /* border: 1px solid #000; */
    line-height: 140px;
}

/* 스라이드 */
/* 슬라이드 이미지 */
.slide {
    width: 400px;
    height: 300px;
    overflow:hidden;
    position: relative;
    left: 30%;
}
.slide ul {
    position: relative;
    display: flex;
    width: 400%;
    height: 100%;
    animation: slide 8s infinite;
}
.slide li {
    width: 25%;
}

@keyframes slide {
    0% {left:0%;}
    10% {left:-100%;}
    33% {left:-100%;}
    43% {left:-200%;}
    66% {left:-200%;}
    76% {left:-300%;}
    99.99% {left:-300%;}
    100% {left:0%;}
}
/* 콘텐츠 */
.contents {
    height: 740px;
    margin: 10px;    
}
.details ul{
    display: flex;
    width: 1200px;
    justify-content: space-between;
}
.details li {
    margin: 10px 15px 20px;
    width: 280px;
    line-height: 1.8;
}
section {
    display: flex;
    height: 400px;

}
.banner {
    width: 730px;
    padding: 10px 5px;
}
.map {
    width: 400px;
    padding: 10px 5px;
    
}
/* 푸터 */
.footer {
    display: flex;
    height: 100px;
    background: #3a3a3a;
    color: #727070;
}
.blogo {
    
    padding-top: 28px;
    width: 200px;
}
.copy {
    padding: 24px;
    text-align: center;
    width: 800px;
}
.sns {
    width: 200px;
    line-height: 100px; /* 한 줄인 경우에만 수직 배치 가능 */
    text-align: center;
    font-size: 24px;
}
.sns a {
    color: #fff;
}
.sns li {
    display: inline-block;
    margin-left: 8px;
}