@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}
:root {
    --color-gray1: #111;
    --color-gray2: #333;
    --color-gray3: #555;
}
body {
    margin: 0;
    font: 15px/1.6 "Roboto", sans-serif;
    color: var(---color-gray3);
}
h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding: 40px;
}
h3 {
    font-size: 18px;
    font-weight: 700;
    padding-top: 16px;
}
ul {
    padding: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(---color-gray1);
}
/* common */
.box_inner {
    width: 1050px;
    height: 113px;
    margin: 0 auto;
    background: rgb(107, 127, 189);
}
/* header */
header {
    z-index: 9999;
    width: 100%;
    background: #9c9c9c;
    position: absolute;
    background: #8151ce;
}

/* section1 */
.main_rolling_pc {
height: 650px;
background: rgb(255, 36, 3);
}
/* section2 */
.about_area {
    height: 685px;
    background: linear-gradient(#fff 30%, #f4f0e9 70%);
    text-align: center;
}
.about_area ul {
    display: flex;
    justify-content: center;
    gap: 1%;
}
.about_area li {
    width: 340px;
    height: 500px;
    background: #999;
}
/* .about_area li:not(:first-of-type) {
    margin-left: 2%;
} */
 .about_area a {
    padding-top: 4px;
    border-top: 2px solid var(--gray2);
 }
/* section3 */
.appbbs_area {
    height: 196px;
    width: 42.2%;
    padding: 60px 0;
    background: orange;
}
/* footer */
footer {
    border-top: 1px solid #000;
    background: #a78d8d;

}
