@charset "utf-8";
* {
    box-sizing: border-box;
}
header {
    background: #9c9c9c;
}

/* header */

.box_inner {
    width: 1050px;
    height: 113px;
    margin: 0 auto;
}
header {
    position: absolute;
    background: #8151ce;

}
/* section1 */
.main_rolling_pc {
height: 550px;
background: rgb(255, 36, 3);
}
/* section2 */
.about_area {
    height: 678px;
    background: #999;
}
/* section3 */
.appbbs_area {
    height: 196px;
    width: 42.2%;
    padding: 60px 0;
    background: orange;
}
/* footer */
footer {
    border-top: 1px solid #000;
    background: #a78d8d;

}
